Mybatis_Study/work/Ex_0612/src/ex4.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT 사원 (명함+)>
<!ELEMENT 명함 (회사명,부서,성명,주소,전화+,팩스?)>
<!ELEMENT 회사명 (#PCDATA)>
<!ELEMENT 부서 (#PCDATA)>
<!ELEMENT 성명 (#PCDATA)>
<!ELEMENT 주소 (#PCDATA)>
<!ELEMENT 전화 (#PCDATA)>
<!ELEMENT 팩스 (#PCDATA)>

<!ATTLIST 성명 사번 CDATA #REQUIRED>
	
<!ENTITY nc "쌍용교육센터">
<!-- 자주 사용하는 문자열 등을 엔티티로 등록하여 XML문서에서 쉽게 사용 가능하다. -->